albumentations==1.0.3
apex==0.9.10dev
joblib==1.1.0
matplotlib==3.4.3
numpy==1.19.2
opencv_python==4.5.3.56
Pillow==8.4.0
progress==1.6
pycocotools==2.0.2
scikit_learn==1.0.1
tensorboardX==2.4
thop==0.0.31.post2005241907
torch==1.9.1+cu111
torchsummary==1.5.1
torchvision==0.10.1+cu111
